<html>
<head>
    <title>TS Starter-Template - <%= version %></title>
</head>
<body>
<div id="container">
    <span id="scss">A "Hello" from .scss!</span>
</div>
<button id="tstest">Hallo</button>
</body>
</html>